/* inspired by https://justinjackson.ca/words.html */
html {
	max-width: 90ch;
	padding: 0em 1em;
	margin: auto;
	line-height: 1.5;
	font-size: 1em;
	font-family: "ABeeZee", sans-serif;
	overflow-y: scroll;   /* https://stackoverflow.com/a/9341578/2453661 */
	color: #ddd; background-color: #222;
}

a  {  
	color: #adf; 
}
a:visited {
	color: #bae;
}

.blog-title{
	text-align:center;
	display: block;
	font-size: 2em;
	margin-top: 0.2em;
	margin-bottom: 0.00em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

.blog-subtitle{
	text-align:center;
	display: block;
	font-size: 1.15em;
	margin-top: 0.00em;
	margin-bottom: 1.0em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

code {
	font-family: "Noto Sans Mono", monospace;
	font-size: 80%;
}

figcaption {
}

h2 { 
	font-size: 1.5em; 
	margin: .75em 0;
}

h2.post-title-with-subtitle {
	margin-bottom: 0px;

}

img {
	border: 1px solid #ddd;
}

video {
	border: 1px solid #ddd;
}

p.post-subtitle {
	color: gray;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 0px;
}

p {
	text-align: justify;
}

pre {
	padding: 1em 1em;
	background-color: #333;
	white-space: pre;
}

