<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/site.css">
	<!-- fonts -->
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=ABeeZee">

    <!-- https://gist.github.com/bennylope/1894706 -->
    <link rel="canonical" href="https://marnetto.net{{ page.url | replace:'index.html','' }}" />

  </head>
  <body>
	  <p class="title"><a href="/index.html">Annali da Samarcanda</a></p>
	  <p class="subtitle">Alberto Marnetto's Notebook</p>
	  <hr />
      {{ content }}
  </body>
</html>
